absl-py==2.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
astunparse==1.6.3
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.3.3
colorama==0.4.6
fastapi==0.136.1
flatbuffers==25.12.19
gast==0.7.0
google-pasta==0.2.0
grpcio==1.80.0
h11==0.16.0
h5py==3.14.0
idna==3.14
keras==3.14.1
libclang==18.1.1
markdown-it-py==4.2.0
mdurl==0.1.2
ml_dtypes==0.5.4
namex==0.1.0
numpy==2.4.4
opt_einsum==3.4.0
optree==0.19.1
packaging==26.2
pillow==12.2.0
protobuf==7.34.1
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.20.0
python-multipart==0.0.28
requests==2.34.0
rich==15.0.0
setuptools==82.0.1
six==1.17.0
starlette==1.0.0
tensorflow==2.21.0
termcolor==3.3.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.7.0
uvicorn==0.46.0
wheel==0.47.0
wrapt==2.1.2
